/*! Заголовок форми h2 */
.titleFormIdentification {
    color: #5e3e00;
    font-size: 30px;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.4),
        2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.1);
}

/*! Форма */
.formIdentification {
    width: 515px;
    max-width: 80%;
    margin: 0 auto 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 18px;
    /* background-color: #ffd9e5; */
    background-color: #fff5d9;
    /* box-shadow: 0 15px 40px rgba(0, 0, 0, .15); */
    box-shadow: inset 0 0 16px 8px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.9);
    border: 1px solid #e8e8e8;
    
}

/*! Label */
.labelFormIdentification {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #915500;
}

/*! Input */
.inputFormIdentification {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    background-color: #f1fff5;
    outline: none;
    transition: .25s;
}

/*! Фокус в Input */
.inputFormIdentification:focus {
    border-color: #009688;
    box-shadow: 0 0 0 4px rgba(0, 150, 136, .18);
}

/*! Розташування кнопок Login та Cancel */
.buttonBoxFormIdentification {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 15px;
}

/*! Кнопки Login та Cancel */
.buttonFormIdentification {
    padding: 14px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    /* background-color: #009688; */
    background-color: #b9a900;
    box-shadow: 0 6px 15px rgba(0, 150, 136, .35);
    transition: .25s;
}

.buttonFormIdentification:hover:not(:disabled) {
    transform: translateY(-2px);
    background-color: #9a9d00;
    /* box-shadow: 0 10px 20px rgba(0, 150, 136, .45); */
    box-shadow:
        inset 0 0 16px 8px rgba(0, 0, 0, 0.3),
        0 8px 16px rgba(0, 0, 0, 0.9);
}

.buttonFormIdentification:active {
    transform: translateY(0);
}

/*! Якщо кнопка блокована */
.buttonFormIdentification:disabled {
    background-color: #c8c8c8;
    cursor: not-allowed;
    box-shadow: none;
    color: #707070;
}

/*! Кнопка Cancel */
.cancelButton {
    background-color: #d32f2f;
}

.buttonFormIdentification.cancelButton:hover {
    background-color: #b71c1c;
}
