/*! Форма (Box) */
.registrationIdentificationBox {
    width: 515px;
    max-width: 80%;
    margin: 30px auto;
    padding: 31px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #ffffff;
    border-radius: 18px;
    background-color: #ffd9d9;
    /* box-shadow: 0 15px 40px rgba(0, 0, 0, .15); */
    box-shadow: 
        inset 0 0 16px 8px rgba(0, 0, 0, 0.3), 
        0 8px 16px rgba(0, 0, 0, 0.9);
    border: 1px solid #e8e8e8;
}

/*! Заголовки форми h2 */
.titleRegistrationIdentification {
    color: #5d0b0b;
    font-size: 30px;
    text-align: center;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.4),
        2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.1);
}

.titleRegistration {
    color: #00796b;
}

.titleIdentification {
    color: #9a9d00;
}


/*! Розташування кнопок Registration, Login та Cancel */
.registrationIdentificationButtonBox {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
}

/*! Кнопки Registration, Login та Cancel */
.buttonRegistrationIdentification {
    padding: 14px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #009688;
    box-shadow: 0 6px 15px rgba(0, 150, 136, .35);
    transition: .25s;
}

.buttonRegistrationIdentification:hover:not(:disabled) {
    transform: translateY(-2px);
    background-color: #00796b;
    /* box-shadow: 0 10px 20px rgba(0, 150, 136, .45); */
    box-shadow:
        inset 0 0 16px 8px rgba(0, 0, 0, 0.3),
        0 8px 16px rgba(0, 0, 0, 0.9);
}

.buttonRegistrationIdentification:active {
    transform: translateY(0);
}

/*! Кнопка Login */
.buttonLogin {
    background-color: #b9a900;
}

.buttonRegistrationIdentification.buttonLogin:hover {
    background-color: #9a9d00;
}

/*! Кнопка Cancel */
.buttonCancel {
    background-color: #d32f2f;
}

.buttonRegistrationIdentification.buttonCancel:hover {
    background-color: #b71c1c;
}
