.boxRegistrationIdentification {
    width: 100%;
    height: 120px;
    /* position: fixed; */
    /* top: 140px; */
    top: 0;
    z-index: 1;
    padding: 20px;
    /* margin-top: 140px; */
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border: 8px solid #719e7091;
    border-radius: 16px;
    background-color: #c0dec9e9;
    /* outline: 1px red solid; */
}

.titleRegistrationIdentification {
    color: #292929;
    flex-grow: 1;
    text-align: center;
}

.titleUserRegistrationIdentification {
    color: #0d5c63;
}

.titleReminderRegistrationIdentification {
    color: #5e3e00;
}

.buttonBoxRegistrationIdentification {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* outline: 1px red solid; */
}

/*! Кнопки Registration, Login та SignOut */
.buttonRegistrationIdentification {
    padding: 14px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #009688;
    box-shadow: 0 6px 15px rgba(0, 150, 136, .35);
    transition: .25s;
}

.buttonRegistrationIdentification:hover:not(:disabled) {
    transform: translateY(-2px);
    background-color: #00796b;
    box-shadow:
        inset 0 0 16px 8px rgba(0, 0, 0, 0.3),
        0 8px 16px rgba(0, 0, 0, 0.9);
}

.buttonRegistrationIdentification:active {
    transform: translateY(0);
}

/*! Кнопка Login */
.buttonLogin {
    background-color: #b9a900;
}

.buttonRegistrationIdentification.buttonLogin:hover {
    background-color: #9a9d00;
}

/*! Кнопка SignOut */
.buttonSignOut {
    background-color: #d32f2f;
}

.buttonRegistrationIdentification.buttonSignOut:hover {
    background-color: #b71c1c;
}
