section{
	padding-top: 540px;
}
.title {
	margin-bottom: 24px;
	font-size: 48px;
	text-align: center;
	color: darkred;
}

.lugrasimoBold {
    font-family: "Lugrasimo", cursive;
    font-weight: 700;
    font-style: normal;
}
.titleTotalTypes{
	composes:lugrasimoBold;
	font-size: 36px;
	text-align: center;
}
.titleLugrasimoBold{
	composes:lugrasimoBold;
	margin-bottom: 24px;
	font-size: 48px;
	text-align: center;
	color: darkred;
}